<style lang="" scoped>



</style>

<template>

<mdl-dialog title="Hi there" display-on="infoMessage" cancellable>
    <mdl-textfield label='name' :value.sync='name'></mdl-textfield>

    <p>Hello. This is an information message. You can click outside or in the close button to close it.</p>

</mdl-dialog>

</template>

<script>

export default {
    name: 'EditNode',
    // Options / Data
    data() {
        return {}
    },
    props: ['name'],
    // computed: {},
    // methods: {},
    // watch: {},
    // Options / DOM
    // el () {},
    // replace: true,
    // template: '',
    // Options / Lifecycle Hooks
    // init () {},
    // crated () {},
    // beforeCompile () {},
    // compiled () {},
    ready() {
        // this.$parent.addNode({
        //     id: 'X',
        //     name: 'from child',
        //     site: true
        // })
        // this.$parent.addEdge({
        //     id: 'x',
        //     source: 'X',
        //     target: 'U'
        // })
    }
    // attached () {},
    // detached () {},
    // beforeDestroy () {},
    // destroyed () {},
    // Options / Assets
    // directives: {},
    // elementDirectives: {},
    // filters: {},
    // components: {},
    // transitions: {},
    // partials: {},
    // Options / Misc
    //  parent: null,
    // events: {},
    // mixins: [],
}

</script>
