<style media="screen" lang="scss">

// @import "../assets/css/normalize.css";
// @import "../assets/css/skeleton.scss";
// colors
$rasp1: #69D2E7;
$rasp2: #A7DBDB;
$rasp3: #E0E4CC;
$rasp4: #F38630;
$text: #b53f51;
$bodyBG: #3fb5a3;
body {
    background-color: $bodyBG;
    color: $text;
}

//
// .page {
//     padding-top: 50px;
//     // padding-bottom: 20px;
//     min-height: 90vh;
// }
.icon {
    display: inline;
    a {
        text-decoration: none;
    }
    img {
        width: 55px;
        height: 40px;
        transition: all 0.4s ease;
        animation: fadein 2s;
    }
    &:hover img {
        transform: scale(1.3);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

//
// footer {
//     position: static;
//     bottom: 0;
//     height: 20px;
//     // padding-top: 5px;
//     .footnote {
//         font-size: 1.2em;
//         font-family: 'Josefin Slab', serif;
//         display: inline-block;
//         color: $rasp4;
//         .heart {
//             position: absolute;
//             display: inline-block;
//             color: rgba(180, 0, 0, 1);
//             margin: 0;
//         }
//     }
// }
//
// .pulse {
//     animation: pulse 1s linear infinite;
// }
//
// @keyframes pulse {
//     0% {
//         transform: scale(1.1);
//     }
//     50% {
//         transform: scale(0.8);
//     }
//     100% {
//         transform: scale(1);
//     }
// }
.shadowed {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    // filter: url(#drop-shadow);
    // -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
}

</style>

<template>

<!-- Uses a header that scrolls with the text, rather than staying
      locked at the top -->
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Harry Gill</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link icon" id="home" v-link="'/'">
                    <img :src="icons.home" alt="home" class="shadowed">
                </a>
                <div class="mdl-tooltip mdl-tooltip--large" for="home">
                    Home
                </div>

                <a class="mdl-navigation__link icon" id='works' v-link="'works'">
                    <img :src="icons.myworks" alt="works" class="shadowed">
                </a>
                <div class="mdl-tooltip mdl-tooltip--large" for="works">
                    My Works
                </div>

                <a class="mdl-navigation__link icon" id="maporg" v-link="'maporg'">
                    <img :src="icons.maporg" alt="maporg" class="shadowed">
                </a>
                <div class="mdl-tooltip mdl-tooltip--large" for="maporg">
                    MapOrg
                </div>
                <!--
                <a class="mdl-navigation__link icon" v-link="'#'">
                    <img :src="icons.blog" alt="blog" class="shadowed">
                </a> -->
                <a class="mdl-navigation__link icon" id='twitter' href="https://twitter.com/mygnu_">
                    <img :src="icons.twitter" alt="twitter" class="shadowed">
                </a>
                <div class="mdl-tooltip mdl-tooltip--large" for="twitter">
                    Twitter
                </div>

                <a class="mdl-navigation__link icon" id="gitlab" href="https://gitlab.com/u/mygnu">
                    <img :src="icons.git" alt="git" class="shadowed">
                </a>
                <div class="mdl-tooltip mdl-tooltip--large" for="gitlab">
                    GitLab
                </div>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Harry Gill</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link icon" v-link="'/'">
                <img :src="icons.home" alt="home" class="shadowed"> Home
            </a>
            <a class="mdl-navigation__link icon" v-link="'works'">
                <img :src="icons.myworks" alt="works" class="shadowed"> My Works
            </a>
            <a class="mdl-navigation__link icon" v-link="'maporg'">
                <img :src="icons.maporg" alt="works" class="shadowed"> Maporg
            </a>
            <a class="mdl-navigation__link icon" v-link="'/'">
                <img :src="icons.blog" alt="blog" class="shadowed"> Blog
            </a>
            <a class="mdl-navigation__link icon" href="https://twitter.com/mygnu_">
                <img :src="icons.twitter" alt="twitter" class="shadowed"> Twitter
            </a>
            <a class="mdl-navigation__link icon" href="https://gitlab.com/u/mygnu">
                <img :src="icons.git" alt="git" class="shadowed"> GitLab
            </a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->
            <router-view></router-view>
        </div>
    </main>
    <!-- <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            Created With Love
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer> -->
</div>

</template>

<script>

export default {
    name: 'App',
    data() {
        return {
            icons: {
                git: require('../assets/git.svg'),
                twitter: require('../assets/twitter.svg'),
                blog: require('../assets/blog.svg'),
                home: require('../assets/home.svg'),
                myworks: require('../assets/works.svg'),
                maporg: require('../assets/maporg.svg')
            }
        }
    }
}

</script>
