<style media="screen" lang="scss">

</style>

<template>

<calculator>
</calculator>

</template>

<script>

import Calculator from './Calculator.vue'
    // import Orgmap from './orgmap/Orgmap.vue';
export default {
    name: 'Works',
    components: {
        Calculator
        //      Orgmap
    }
}

</script>
